@import "tailwindcss";

/* Light & Dark Mode Colors */
/* :root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
} */

/* Default Background */
/* body {
  background: var(--background-light);
  color: var(--foreground-light);
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark Mode Support */
/* .dark body {
  background: var(--background-dark);
  color: var(--foreground-dark);
} */ 

/* Clerk ko forcefully Light Mode me lao */
